In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [12]:
llamadas = pd.read_csv('/Users/noeliarosonmartin/Desktop/data/llamadas_016.csv')
llamadas

       Provincia       Año         Mes  Número de llamadas pertinentes
0        Almería  Año 2007  Septiembre                             3.0
1        Almería  Año 2007     Octubre                            52.0
2        Almería  Año 2007   Noviembre                            57.0
3        Almería  Año 2007   Diciembre                            69.0
4        Almería  Año 2008       Enero                            91.0
...          ...       ...         ...                             ...
10083  No consta  Año 2023       Abril                           548.0
10084  No consta  Año 2023        Mayo                           687.0
10085  No consta  Año 2023       Junio                           671.0
10086  No consta  Año 2023       Julio                           703.0
10087  No consta  Año 2023      Agosto                           746.0

[10088 rows x 4 columns]

In [3]:
llamadas['Año'].unique()

array(['Año 2007', 'Año 2008', 'Año 2009', 'Año 2010', 'Año 2011',
       'Año 2012', 'Año 2013', 'Año 2014', 'Año 2015', 'Año 2016',
       'Año 2017', 'Año 2018', 'Año 2019', 'Año 2020', 'Año 2021',
       'Año 2022', 'Año 2023'], dtype=object)

In [4]:
llamadas['Año'] = llamadas['Año'].str.replace(r'\D', '', regex=True) # Eliminamos lo que no es numérico

llamadas['Año'] = pd.to_datetime(llamadas['Año'], format='%Y').dt.year

In [5]:
llamadas = llamadas.loc[llamadas['Año'] >= 2020]
llamadas['Año'].unique()

array([2020, 2021, 2022, 2023], dtype=int32)

In [6]:
llamadas['Mes'].unique()

array(['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio',
       'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      dtype=object)

In [7]:
meses_año = {
    'Enero': '01',
    'Febrero': '02',
    'Marzo': '03',
    'Abril': '04',
    'Mayo': '05',
    'Junio': '06',
    'Julio': '07',
    'Agosto': '08',
    'Septiembre': '09',
    'Octubre': '10',
    'Noviembre': '11',
    'Diciembre': '12'
}

llamadas['Mes'] = llamadas['Mes'].map(meses_año)

llamadas['Mes'] = llamadas['Mes'].astype(int)

In [8]:
llamadas['Mes'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [9]:
llamadas.rename(columns={'Número de llamadas pertinentes': 'Numero_llamadas'}, inplace=True)
llamadas['Numero_llamadas'] = llamadas['Numero_llamadas'].astype(int)

In [10]:
llamadas.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
Index: 2331 entries, 148 to 10087
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Provincia        2331 non-null   object
 1   Año              2331 non-null   int32
 2   Mes              2331 non-null   int64
 3   Numero_llamadas  2331 non-null   int64
dtypes: int32(1), int64(2), object(1)
memory usage: 224.4 KB

In [11]:
llamadas

       Provincia   Año  Mes  Numero_llamadas
148      Almería  2020    1               68
149      Almería  2020    2               66
150      Almería  2020    3               75
151      Almería  2020    4              100
152      Almería  2020    5               79
...          ...   ...  ...              ...
10083  No consta  2023    4              548
10084  No consta  2023    5              687
10085  No consta  2023    6              671
10086  No consta  2023    7              703
10087  No consta  2023    8              746

[2331 rows x 4 columns]

In [ ]:
llamadas['Trimestre'] =

In [15]:
denuncias = pd.read_csv('/Users/noeliarosonmartin/Desktop/data/denuncias.csv')
denuncias

,Provincia,Año,Trimestre,Número de denuncias por violencia de género
0,Almería,Año 2009,Primero,679.0
1,Almería,Año 2009,Segundo,715.0
2,Almería,Año 2009,Tercero,665.0
3,Almería,Año 2009,Cuarto,545.0
4,Almería,Año 2010,Primero,638.0
...,...,...,...,...
2959,Melilla,Año 2022,Primero,73.0
2960,Melilla,Año 2022,Segundo,94.0
2961,Melilla,Año 2022,Tercero,107.0
2962,Melilla,Año 2022,Cuarto,84.0
2963,Melilla,Año 2023,Primero,103.0

In [16]:
denuncias.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2964 entries, 0 to 2963
Data columns (total 4 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Provincia                                    2964 non-null   object
 1   Año                                          2964 non-null   object
 2   Trimestre                                    2964 non-null   object
 3   Número de denuncias por violencia de género  2964 non-null   float64
dtypes: float64(1), object(3)
memory usage: 669.9 KB